# NASA Mars News

#### Scrape the Mars News Site and collect the latest News Title and Paragraph Text. Save these items to variables so that you can use them later.

In [1]:
#import dependencies for set up
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import requests
import os
import pymongo
import pandas as pd

In [2]:
#Set up splinter path and browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [/Users/corwingalleries/.wdm/drivers/chromedriver/mac64/89.0.4389.23/chromedriver] found in cache

In [3]:
#indicate URL for scraping
url = "https://redplanetscience.com"
browser.visit(url)

In [8]:
#Find the latest News Article and it's associated Paragraph Text
    
#HTML object
html = browser.html
    
#Parse HTML with Beautiful Soup
soup = bs(html, "html.parser")

#Use find element to locate latest title
article_title = browser.find_by_css(".content_title")[0].text
article_title

"NASA's Mars 2020 Rover Completes Its First Drive"

In [10]:
#Use find element to locate paragraph text of this article
paragraph_text = browser.find_by_css(".article_teaser_body")[0].text
paragraph_text

'In a 10-plus-hour marathon, the rover steered, turned and drove in 3-foot (1-meter) increments over small ramps.'

# JPL Mars Space Images - Featured Image

#### Splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable

In [11]:
#Create URL and browser
mars_image_url = "https://spaceimages-mars.com"
browser.visit(mars_image_url)

In [12]:
#HTML object
mars_image_html = browser.html

#Parse HTML with Beautiful Soup
mars_image_soup = bs(mars_image_html, "html.parser")

#Retrieve information for image link
featured_mars_image = mars_image_soup.find("a", class_ = "showimg fancybox-thumbs")["href"]

In [13]:
#Declare url under featured_image_url variable and save 
featured_image_url = f"https://spaceimages-mars.com/{featured_mars_image}"
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

 # Mars Facts
 
 #### use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

In [14]:
#import URL for Mars Facts webpage
mars_facts_url = "https://galaxyfacts-mars.com"

In [15]:
#Use 'read_html' function to read tables into Jupyter Notebook
tables = pd.read_html(mars_facts_url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [16]:
type(tables)

list

In [17]:
#Select dataframe using indexing on the table
mars_facts_df = tables[0]
mars_facts_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

#### Use Pandas to convert the data to a HTML table string.

In [18]:
#Drop first row in DataFrame
header_reset = mars_facts_df.iloc[0]
mars_facts_df = mars_facts_df[1:]

In [19]:
#Pass new header into DataFrame to clean it
mars_facts_df.columns = header_reset
mars_facts_df

0 Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days
6            Temperature:     -87 to -5 °C      -88 to 58°C

In [20]:
mars_facts_df.to_html('mars_facts_table.html', index = False, header = True)

In [21]:
!open mars_facts_table.html

# Mars Hemispheres

#### obtain high resolution images for each of Mars's hemispheres.

In [22]:
mars_hemispheres_url = "https://marshemispheres.com"
browser.visit(mars_hemispheres_url)

In [23]:
#HTML Object
hemispheres_html = browser.html

#Parse with Beautiful Soup
hemispheres_soup = bs(hemispheres_html, "html.parser")

#### Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.

In [24]:
#look for links in order to access full resolution hemisphere images
hemispheres_links = hemispheres_soup.find_all("div", class_ = "item")
hemispheres_links

[<div class="item">
 <a class="itemLink product-item" href="cerberus.html"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"/></a>
 <div class="description">
 <a class="itemLink product-item" href="cerberus.html">
 <h3>Cerberus Hemisphere Enhanced</h3>
 </a>
 <span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/>
 <p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p>
 </div>
 <!-- end description -->
 </div>,
 <div class="item">
 <a class="itemLink product-item" href="schiaparelli.html"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png"/></a>
 <div class="description">
 <a class="itemLink product-item" href="schiaparelli.html">
 <h3>Schiaparelli Hemisphere Enhanced</h3>
 </a>
 <span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br/>
 <p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…</p>
 </div>
 <!-- end description -->
 </div>,
 <div class="item">
 <a class="itemLink product-item" href="syrtis.html"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png"/></a>
 <div class="description">
 <a class="itemLink product-item" href="syrtis.html">
 <h3>Syrtis Major Hemisphere Enhanced</h3>
 </a>
 <span class="subtitle" style="float:left">image/tiff 25 MB</span><span class="pubDate" style="float:right"></span><br/>
 <p>Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…</p>
 </div>
 <!-- end description -->
 </div>,
 <div class="item">
 <a class="itemLink product-item" href="valles.html"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png"/></a>
 <div class="description">
 <a class="itemLink product-item" href="valles.html">
 <h3>Valles Marineris Hemisphere Enhanced</h3>
 </a>
 <span class="subtitle" style="float:left">image/tiff 27 MB</span><span class="pubDate" style="float:right"></span><br/>
 <p>Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…</p>
 </div>
 <!-- end description -->
 </div>]

In [25]:
#find anchor links and place into a links list for future for loop
hemispheres_image_links = []

In [26]:
#For loop to search for Hemisphere title and full resolution image
for link in hemispheres_image_links:
    image_link = link.find("a", class_ = "itemLink product-item")["href"]   
    
    hemisphere_title = link.find("h3").text
    
    #Browser visit
    browser.visit(image_link + hemisphere_title)
    
    #HTML Object 
    hemispheres_links_html = browser.html
    
    #Parse using Beautiful Soup
    hemispheres_links_soup = bs(hemispheres_links_html, "html.parser")
    
    #Search for image URLs
    image_url = mars_hemispheres_url + hemispheres_links_soup.find("img", class_ = "wide-image")["src"]
    
    #Append into list via dictionaries
    hemispheres_image_links.append({"title": hemisphere_title, "img_url": image_url})
    print(f"Title: {hemisphere_title}")
    print(f"URL: {image_url}")

In [27]:
hemispheres_image_links

[]

In [ ]:
#Close remote browser
browser.quit()