# NASA Mars News

#### Scrape the Mars News Site and collect the latest News Title and Paragraph Text. Save these items to variables so that you can use them later.

In [1]:
#import dependencies for set up
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import requests
import os
import pymongo
import pandas as pd

In [2]:
#Set up splinter path and browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [/Users/corwingalleries/.wdm/drivers/chromedriver/mac64/89.0.4389.23/chromedriver] found in cache

In [3]:
#indicate URL for scraping
url = "https://redplanetscience.com"
browser.visit(url)

In [4]:
#create a for loop for every page to search for News Title and Paragraph Text
for x in range(1):
    
    #HTML object
    html = browser.html
    
    #Parse HTML with Beautiful Soup
    soup = bs(html, "html.parser")
    
    #Retrieve all elements that contain that information
    articles = soup.find_all("div", class_ = "list_text")
    
    #Iterate through each web page
    for article in articles:
        
        #Use Beautiful Soup's find() method to navigate and retrieve attributes
        news_title = article.find("div", class_ = "content_title").text
        paragraph_text = article.find("div", class_ = "article_teaser_body").text
        print("----------------------------------------------------------------------")
        print(f"Title: {news_title}")
        
        print(f"Content: {paragraph_text}")

----------------------------------------------------------------------
Title: NASA's Mars Reconnaissance Orbiter Undergoes Memory Update
Content: Other orbiters will continue relaying data from Mars surface missions for a two-week period.
----------------------------------------------------------------------
Title: NASA's Mars Perseverance Rover Passes Flight Readiness Review
Content: ​The agency's Mars 2020 mission has one more big prelaunch review – the Launch Readiness Review, on July 27.
----------------------------------------------------------------------
Title: The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover
Content: Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.
----------------------------------------------------------------------
Title: NASA's Curiosity Mars Rover Takes a New Selfie Before Record Climb
Content: Along with capturing an image before its steepest ascent ever, the robotic explorer filmed its "selfie stick," or robotic arm, in action.
----------------------------------------------------------------------
Title: NASA's Ingenuity Mars Helicopter Recharges Its Batteries in Flight
Content: Headed to the Red Planet with the Perseverance rover, the pioneering helicopter is powered up for the first time in interplanetary space as part of a systems check.
----------------------------------------------------------------------
Title: 5 Hidden Gems Are Riding Aboard NASA's Perseverance Rover
Content: The symbols, mottos, and small objects added to the agency's newest Mars rover serve a variety of purposes, from functional to decorative.
----------------------------------------------------------------------
Title: NASA Readies Perseverance Mars Rover's Earthly Twin
Content: Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.
----------------------------------------------------------------------
Title: Q&A with the Student Who Named Ingenuity, NASA's Mars Helicopter
Content: As a longtime fan of space exploration, Vaneeza Rupani appreciates the creativity and collaboration involved with trying to fly on another planet.
----------------------------------------------------------------------
Title: HiRISE Views NASA's InSight and Curiosity on Mars
Content: New images taken from space offer the clearest orbital glimpse yet of InSight as well as a view of Curiosity rolling along.
----------------------------------------------------------------------
Title: NASA's Mars 2020 Rover Tests Descent-Stage Separation
Content: A crane lifts the rocket-powered descent stage away from NASA's Mars 2020 rover after technicians tested the pyrotechnic charges that separate the two spacecraft.
----------------------------------------------------------------------
Title: NASA's InSight Flexes Its Arm While Its 'Mole' Hits Pause
Content: Now that the lander's robotic arm has helped the mole get underground, it will resume science activities that have been on hold.
----------------------------------------------------------------------
Title: NASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes
Content: After the rover was shipped from JPL to Kennedy Space Center, the team is getting closer to finalizing the spacecraft for launch later this summer.
----------------------------------------------------------------------
Title: NASA's Perseverance Rover Goes Through Trials by Fire, Ice, Light and Sound
Content: The agency's new Mars rover is put through a series of tests in vacuum chambers, acoustic chambers and more to get ready for the Red Planet.
----------------------------------------------------------------------
Title: NASA Administrator Statement on Moon to Mars Initiative, FY 2021 Budget
Content: Jim Bridenstine addresses NASA's ambitious plans for the coming years, including Mars Sample Return.
----------------------------------------------------------------------
Title: Two Rovers to Roll on Mars Again: Curiosity and Mars 2020
Content: They look like twins. But under the hood, the rover currently exploring the Red Planet and the one launching there this summer have distinct science tools and roles to play.

# JPL Mars Space Images - Featured Image

#### Splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable

In [5]:
#Create URL and browser
mars_image_url = "https://spaceimages-mars.com"
browser.visit(mars_image_url)

In [6]:
#HTML object
mars_image_html = browser.html

#Parse HTML with Beautiful Soup
mars_image_soup = bs(mars_image_html, "html.parser")

#Retrieve information for image link
featured_mars_image = mars_image_soup.find("a", class_ = "showimg fancybox-thumbs")["href"]

In [7]:
#Declare url under featured_image_url variable and save 
featured_image_url = f"https://spaceimages-mars.com/{featured_mars_image}"
featured_image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

 # Mars Facts
 
 #### use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

In [8]:
#import URL for Mars Facts webpage
mars_facts_url = "https://galaxyfacts-mars.com"

In [9]:
#Use 'read_html' function to read tables into Jupyter Notebook
tables = pd.read_html(mars_facts_url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [10]:
type(tables)

list

In [11]:
#Select dataframe using indexing on the table
mars_facts_df = tables[0]
mars_facts_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

#### Use Pandas to convert the data to a HTML table string.

In [12]:
mars_html_table = mars_facts_df.to_html()
mars_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n      <th>2</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [13]:
#Strip unwanted newlines to clean up the table
mars_html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>      <th>2</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Mars - Earth Comparison</td>      <td>Mars</td>      <td>Earth</td>    </tr>    <tr>      <th>1</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>4</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>5</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>6</th>      <td>Temperature:</td>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [14]:
#Drop first column in DataFrame
header_reset = mars_facts_df.iloc[0]
mars_facts_df = mars_facts_df[1:]

In [15]:
#Pass new header into DataFrame to clean it
mars_facts_df.columns = header_reset
mars_facts_df

0 Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days
6            Temperature:     -87 to -5 °C      -88 to 58°C

In [16]:
mars_facts_df.to_html('mars_facts_table.html', index = False, header = True)

In [17]:
!open table.html

In [18]:
#Close remote browser
browser.quit()